[2018-07-26 21:48] tranluan opened #1 "Rendering layer speed up - multi-threaded GPU kernel"
In line 138 of TF_newop/cuda_op_kernel_v2_sz224.cu.cc we have to set block_count and thread_per_block to 1 ` ZbufferTriKernel<<<1, 1>>>(s2d, tri,...) ` since it need access (read/write) into the `zbuffer`.
Implementing some sort of critical section for the block from line 102 - 106 could fix it.

This can lead to a significant speed up of this operation.

[2018-07-26 21:57] tranluan opened #2 "Batch processing"
the function `warp_texture()` in [rendering_ops.py](https://github.com/tranluan/Nonlinear_Face_3DMM/blob/master/rendering_ops.py) could be better written to process the whole batch instead of using the for loop.

[2018-07-30 10:02] YinghaoHuang91 opened #3 "Error happens when chaning output_size"
Hi Luan, I played around with the code you released. And I found when I changed the output_size from 224, the default one, to 512, and run the program **_rendering_example.py_**, it constantly throws this error:

    InvalidArgumentError: Incompatible shapes: [262144] vs. [50176]

The error seems from line 157 of _**rendering_ops.file**_. Can you please help have a look? Thanks!

[2018-07-30 14:01] tranluan commented on #3
Have you edit the zbuffer rendering cuda code and recompile. Currently, the image size is hardcoded.
In lasted commit:
cuda_op_kernel_v2_sz224.cc (line41)
cuda_op_kernel_v2_sz224.cu.cc (line137)

[2018-07-30 14:40] YinghaoHuang91 commented on #3
Yeah, I see. I tried it, it works! Thanks!

[2018-07-30 15:23] #3 closed

[2018-08-07 13:15] yyssmm opened #4 "error: cuda_op_kernel_v2_sz224.cu.o: No such file or directory"
Thank you for sharing your code. But I have a n error: cuda_op_kernel_v2_sz224.cu.o: No such file or directory. Would you help me? Thank you

[2018-08-07 13:36] tranluan commented on #4
Please compile the rendering layer cuda code first
[code]
Refer to README file for more information

[2018-08-07 13:40] yyssmm opened #5 "I just meet this error when I do as your said"

[2018-08-07 13:41] yyssmm commented on #4
I just meet this error when I do as your said

[2018-08-07 13:44] tranluan commented on #4
What's your Tensorflow version? If it's an old version, please try the part that was commented in compile_op_v2_sz224.sh. This part I used when I have TF v1.3

[2018-08-07 13:45] #5 closed

[2018-08-09 06:26] HaiyongJiang opened #6 "No implementation details are found for GCGAN decoder and encoder."
Hi @tranluan, your paper looks very interesting, and I want to try the released source code. But I found that the implementation of the decoder and encoder function was left empty, e.g. GCGAN.generator_encoder and GCGAN.generator_decoder_shape. Could you help resolve this?

[2018-08-18 01:37] yyssmm opened #7 "Could you please provide a trained model for test? Thank you"

[2018-08-21 18:36] #4 closed

[2018-09-26 06:29] daixiangzi opened #8 "Can you provide relevant database download link?"

[2018-10-20 08:29] sunjunlishi commented on #7
yes

[2018-10-25 01:09] sunjunlishi commented on #7
sample_data.npz

[2018-11-12 08:53] bit0123 opened #9 "Query about input/output of FC layer lies in-between Encoder(E) and Decoder(Da/Ds)"
While reading your great paper, i am bit confused with the input/output of the FC layer which is in-between Encoder and Decoder.
Please make me correct if i get it wrong.
- Output shape of Encoder is 1x1x(ls+la+64).
- Is the Input shape for FC is 1x1x(ls+la)  for both Da and Ds? or 1x1xls for Ds and 1x1xla for Da? (here is the confusion)
- Output shape of FC layer 6x7x320 is reshaped from 13440 di

[2018-12-08 05:48] #8 closed

[2018-12-11 11:52] Ivy147 opened #10 "Where is the output model?And how can I input own image?"
Hi,tranluan,
Thank you for your job.
I ran rendering_example.py, then I got a rendered_img.png and a texture.png. But where can I find the model of test data?And how can I produce test data of my own images?

[2018-12-12 16:20] tranluan commented on #10
We're planning to release the trained model and/or the completed code at the end of the month.

[2018-12-21 00:17] CHELSEA234 commented on #6
I had same issues...

[2019-01-03 09:00] boxer276 commented on #10
i have the same question, looking forward of the completed code

[2019-01-10 10:16] wadesunyang commented on #10
looking forward of the completed code

[2019-03-14 23:20] noranart commented on #10
Any luck for the completed code? I would really appreciate any help.

[2019-03-27 08:40] dyther opened #11 "How to map a 3D model to uv space?"
Thanks for your great work,I have a new 3D Face Morphable Model  ,and  want to map it to UV map. Cause you only give the 2 dat file ,I have no ideal how did you get them,and how did you choose  a1,a2 b1,b2 ,the constant scale and translation scalars?
 Could you please share the generation code?

[2019-04-01 02:20] tranluan commented on #10
Sorry for the delay. I was busy with the ICCV deadline. I'm planning to release the completed code by April 15.

[2019-04-11 05:21] tklinterg commented on #4
Hi, firstly - really interesting article!
I'm receiving the same issue as @yyssmm . I'm currently trying to run this on a windows 10 system with bash installed on it. Would you have a clue on were to start looking for a potential error?

Thanks in advance.

[2019-04-11 05:23] tklinterg opened #12 "cuda_op_kernel_v2_sx224.cu.o file not found in directory"
Hi, firstly - really interesting article!
I'm receiving the same issue as @yyssmm . I'm currently trying to run this on a windows 10 system with bash installed on it. Would you have a clue on were to start looking for a potential error?

Thanks in advance.

_Originally posted by @tklinterg in https://github.com/tranluan/Nonlinear_Face_3DMM/issues/4#issuecomment-481969216_

[2019-04-11 16:33] tranluan commented on #4
Have you successfully compile the rendering CUDA code?

Also, I got some emails stating that they have errors running on Windows but get fixed when switching to Ubuntu. So, please use Ubuntu if possible. I don't have Windows machine to reproduce the error.

[2019-04-16 02:53] deepcs233 commented on #10
looking forward of the completed code

[2019-04-17 17:44] tklinterg commented on #4
Thanks for the quick response. I tried to switch the set up to an ubuntu
environment, the compilation seems to converge without errors. However,
when trying to run the rendering example that is also provided, I encounter
the error

InvalidArgumentError (see above for traceback): No OpKernel was registered
to support Op 'ZbufferTriV2Sz224' with these attrs.  Registered devices:
[CPU], Registered ke

[2019-04-22 06:15] ARQlalala commented on #10
looking forward for the completed code

[2019-04-23 09:29] Easonzero commented on #10
looking forward for the completed code

[2019-05-06 09:39] onlineplay commented on #10
looking forward for the completed code

[2019-05-06 13:26] knma commented on #12
You may want to a comment out #include of Eigen Tensor in cuda_op_kernel_v2_sz224.cu

[2019-05-06 14:36] knma commented on #12
It works (Ubuntu 18.04 / CUDA 10 / tf 1.13.1). Regarding InvalidArgumentError: it was cpu-only tensorflow installed in my env.

[2019-05-13 08:31] ava-YangL commented on #10
looking forward for the completed code

[2019-05-20 10:17] BigDataHa commented on #10
looking forward for the completed code

[2019-05-21 08:05] Xudong7Chen opened #13 "problem when compiling the rendering layer"
Hi, i meet some problems when compiling the rendering layer.
`InternalError (see above for traceback): Blas xGEMMBatched launch failed : a.shape=[16,4,3], b.shape=[16,53215,4], m=3, n=53215, k=4, batch_size=16
         [[Node: MatMul = BatchMatMul[T=DT_FLOAT, adj_x=true, adj_y=true, _device="/job:localhost/replica:0/task:0/device:GPU:0"](concat, concat_1)]]
         [[Node: Reshape_43/_147 = _Recv

[2019-05-22 08:27] tranluan commented on #10
Most of the code and data is pushed. I'm going to clean up a little bit. The training code should be complete in a day or two

[2019-05-25 08:38] BigDataHa commented on #10
Are you going to update it?

[2019-05-25 08:39] BigDataHa commented on #10
Are you going to update it?

[2019-06-04 09:01] BigDataHa commented on #10
13 days have passed ...

[2019-06-11 02:14] BigDataHa opened #14 "sampling problem"
I found that some values of the UV map you provided were less than 0 or more than 224, so that there would be mistakes in sampling shape from shape uv?
I try to train the net, but I can't get good result. I use uv map is from prnet https://github.com/YadiraF/PRNet。 Looking forward release train code.

[2019-06-17 06:44] bcydl0116 commented on #10
another 13 days have passed

[2019-06-24 09:37] BigDataHa opened #15 "train process not convergent"
Hi, it's a fantastic job, but  after the pre-training model converges, the training model with reconstruction loss and perceptual loss can not converge. Is there anything else I need to pay attention to?

[2019-07-08 17:57] KalraA commented on #15
Hi, I couldn't even find the training code. Where is the training code?

[2019-07-13 13:02] firelgh opened #16 "environment configuration"
I just took my first step in scientific research focused on 3D face reconstruction. Specific module details about the environment configuration were not found in the article and code.So could you please send me the details of the environment configuration of the article if possible(including python, tensorflow, cuda, cudnn ubantu version, etc.)? I would be very appreciated if receiving the reply.T

[2019-07-13 13:02] firelgh opened #17 "environment configuration"
I just took my first step in scientific research focused on 3D face reconstruction. Specific module details about the environment configuration were not found in the article and code.So could you please send me the details of the environment configuration of the article if possible(including python, tensorflow, cuda, cudnn ubantu version, etc.)? I would be very appreciated if receiving the reply.T

[2019-07-13 13:02] firelgh opened #18 "environment configuration"
I just took my first step in scientific research focused on 3D face reconstruction. Specific module details about the environment configuration were not found in the article and code.So could you please send me the details of the environment configuration of the article if possible(including python, tensorflow, cuda, cudnn ubantu version, etc.)? I would be very appreciated if receiving the reply.T

[2019-07-13 13:02] firelgh opened #19 "environment configuration"
I just took my first step in scientific research focused on 3D face reconstruction. Specific module details about the environment configuration were not found in the article and code.So could you please send me the details of the environment configuration of the article if possible(including python, tensorflow, cuda, cudnn ubantu version, etc.)? I would be very appreciated if receiving the reply.T

[2019-07-13 13:03] firelgh opened #20 "environment configuration"
I just took my first step in scientific research focused on 3D face reconstruction. .Specific module details about the environment configuration were not found in the article and code.So could you please provide the details of the environment configuration of the article if possible(including python, tensorflow, cuda, cudnn ubantu version, etc.)? I would be very appreciated if receiving the reply.

[2019-07-13 13:16] #16 closed

[2019-07-13 13:16] #20 closed

[2019-07-15 10:02] cddlyf commented on #10
another 28 days passed!

[2019-07-15 10:09] cddlyf commented on #7
@tranluan  could you release your training code now?

[2019-07-15 10:10] cddlyf commented on #15
@tranluan could you reply these open issues?  tks!

[2019-07-17 17:35] tranluan commented on #15
Hi @BigDataHa, could you please try the recently added code. It decomposes the texture into lighting and albedo, which could better regularize the training (please see the TPAMI'19 paper).

[2019-07-17 17:38] tranluan commented on #17
I develop the code using python 2.7, tensorflow 1.3, cuda 9.0, ubuntu16.04

[2019-07-17 17:39] #18 closed

[2019-07-17 17:39] #19 closed

[2019-07-19 09:41] BigDataHa commented on #15
thanks， I'll try it

[2019-07-22 07:36] huxianer commented on #3
@YinghaoHuang91 @tranluan Hi,I can`t find the test code,Could you give any help?Thanks!

[2019-07-22 07:50] YinghaoHuang91 commented on #3
Hi if I remembered correctly, the code I tested is this one:
`https://github.com/tranluan/Nonlinear_Face_3DMM/blob/master/rendering_example.py. `
Still you might want to follow the latest instruction since the code structure has changed a lot.

[2019-07-22 08:04] huxianer commented on #3
@YinghaoHuang91 Thank you!But the script use the given sample_data.npz.Here,I want to use the model I have trained.

[2019-07-22 20:03] KalraA opened #21 "Some undefined variables in the new code"
Hi,

@tranluan the new commits posted last week. I tried running the code and I'm getting some variables that aren't defined. Do you know what edits we need to make to fix it?

**Input:** python main_non_linear_3DMM.py
**Output**
{'batch_size': 64,
 'beta1': 0.5,
 'c_dim': 3,
 'checkpoint_dir': 'checkpoint',
 'dataset': 'celebA',
 'df_dim': 32,
 'dfc_dim': 512,
 'epoch': 1000,
 'gf_dim': 32,
 'gfc

[2019-07-22 20:20] tranluan commented on #21
Sorry. It's just a typo, please replace 'valid_300W_idx' by 'valid_idx'.

[2019-07-22 20:23] tranluan commented on #3
@huxianer Could you please elaborate on what do you need?

[2019-07-22 20:34] KalraA commented on #21
Thanks for the quick response! This is what I get now:
    print("Valid images %d/%d" % ( len(valid_idx), self.images_300W.shape[0] ))
AttributeError: 'DCGAN' object has no attribute 'images_300W

Also if you would like, once I get this working, I can submit a pull request with all the bugs fixed and documentation added for everyone else.

[2019-07-22 20:47] tranluan commented on #21
self.images_300W is self.image_filenames

Please submit a pull request. I appreciate it.

[2019-07-22 20:47] KalraA commented on #21
Ya, I figured that one out, now I'm stuck on
ffeed_dict[self.texture_labels_fn_300W[i]] = _300W_LP_DIR + 'texture/'+ image2texture_fn(batch_300W_images_fn[i])
NameError: global name 'image2texture_fn' is not defined

[2019-07-22 21:49] tranluan commented on #21
The function image2texture_fn try to convert image filename into texture filename. Since multiple images reuse the same ground truth texture.
Sorry. That's way too many errors that shouldn't be there.

Please add this to utils.py

def image2texture_fn(image_fn):
    last = image_fn[-7:].find('_')
    if (last < 0):
        return image_fn
    else:
        return image_fn[:-7 + last] + '_0.png'

[2019-07-22 22:04] KalraA commented on #21
Ok great, now it's training. So I guess the next question is how can I make sure that it reproduces the results in the paper? Is there a testing script? or a online pretrained model we can compare against?

[2019-07-22 23:19] tranluan commented on #21
The weights here are set the same as my most recent experiment.
I usually run pretrain stage for 1 days (~15 epochs) on 4 TitanX GPU with all losses. Then the weight for S and m are set to 0 or reduced significantly.
I don't have access to GPUs at the moment to validate all the hyper parameters on this "clean up" implementation. That's why I was hesitating posting the code. Gonna post the command

[2019-07-22 23:20] KalraA commented on #21
Can you share with me the command to run the pretrained model?

[2019-07-22 23:28] tranluan commented on #21
[code]

[2019-07-22 23:34] KalraA commented on #21
This is the code to train, what about to just test out the model on some images and visualize those results?

[2019-07-22 23:44] tranluan commented on #21
You can just simply change the network setting is_train = False, then feed the image to the network. You can use any library to visualize the 3D shape (topology is given in tri file).

Maybe I'll add later if I have time.

[2019-07-23 01:45] huxianer commented on #3
@tranluan Hi，thank you for your wonderful job.Here,I have trained my own model,but I can`t find the test code.How to use the trained model?I try to complete the test code,but something wrong meet with.So,if you share the test code,which is grateful to me.Thank you

[2019-07-23 13:17] huxianer commented on #21
@tranluan Can you share with me the command to test the model,Thank you

[2019-07-23 18:13] KalraA commented on #21
@tranluan What is the path to the weights? The checkpoint path is not found as it looks to me.

[2019-07-23 18:19] KalraA commented on #21
line 73, in main
    dcgan.test(FLAGS, True)
AttributeError: 'DCGAN' object has no attribute 'test'
^ What do I do here?

[2019-07-25 12:31] dochenms commented on #21
@KalraA  what is your tensorflow  and cuda version? I have tried to run this code, but encounter an error of " [[ZbufferTriV2Sz224]]
Errors may have originated from an input operation.
Input Source operations connected to node ZbufferTriV2Sz224:"

[2019-09-06 12:01] wangxinjun56 opened #22 "the m(matrix data) in *_param.dat"
hi, could you tell me  where are the m(matrix data)  and shape datas come from ?

acording the paper says "With the face profiling technique, Zhu et al. [33] expand the
300W dataset [68] into 122, 450 images with fitted 3DMM shapes and projection parameters m."

but i can't find it,   could you give me  the accuracy network link?

[2019-09-06 12:49] tranluan commented on #22
http://www.cbsr.ia.ac.cn/users/xiangyuzhu/projects/3DDFA/main.htm

[2019-09-06 12:49] #22 closed

[2019-09-06 12:49] #17 closed

[2019-09-06 14:32] wangxinjun56 commented on #22
thanks , i get the link, but there say 7 data:

%% Pose Parameter
phi = Pose_Para(1); % pitch
gamma = Pose_Para(2); % yaw
theta = Pose_Para(3); % roll
t3dx = Pose_Para(4); % translation
t3dy = Pose_Para(5);
t3dz = Pose_Para(6);
f = Pose_Para(7); % scale

are different from the 8 data in the code？
    mDim  = idDim + 8

    # Convert projection matrix into 4x3 matrices
    m = tf.reshape(m, [-1,4,2

[2019-09-06 14:38] wangxinjun56 opened #23 "mask from zbuffer"
tri_map_2d, mask_i = ZBuffer_Rendering_CUDA_op_v2_sz224(vertex2d_i, tri_const, visible_tri_i)

the mask_i is 224*224 , shape is (-1,);

masks.append(mask_i)
masks = tf.stack(masks)

return images, masks

where the mask shape is wrong ,that

G_images_300W_mask = tf.multiply(input_masks_300W, tf.expand_dims(G_images_300W_mask, -1))
G_images_300W = tf.multiply(G_images_300W, G_images_300W_mask) + tf.

[2019-09-06 23:43] tranluan commented on #22
I actually estimate 2x4 projection matrix directly

[2019-09-06 23:46] tranluan commented on #23
Can you elaborate on your question?

[2019-09-07 03:01] wangxinjun56 commented on #22
so , i test a sample about the m ,i first output one ground true sample data:  m ,s , image,texture, and mask.  with the code:
                    m = batch_m[0] * self.std_m + self.mean_m
                    np.savetxt("./cal/m.txt",m,fmt="%s",delimiter=",")
                    s = batch_shape[0] * self.std_shape + self.mean_shape
                    np.savetxt("./cal/s.txt",s,fmt="%s",delimiter=

[2019-09-07 03:06] wangxinjun56 commented on #23
the G_images_300W_mask .shape  is wrong, should be 32*224*224*3 that can multiply with input_masks_300W

[2019-09-07 14:49] tranluan commented on #23
The shape is batchsize * 224 * 224 * 1, which is ok for the multiplication.

[2019-09-07 14:52] tranluan commented on #22
If you use groundtruth shape and m, don’t multiply with mean and std.

[2019-09-07 16:24] wangxinjun56 commented on #22
when i  don’t multiply with mean and std. the matrix :
0.07839612
-2.4697971
1.4430104
4.565652
-1.7359085
-0.09378817
1.6977928
-0.07866878

but the final result ,the final shape is also strange  wrong;

[2019-09-07 16:45] wangxinjun56 commented on #22
![444](https://user-images.githubusercontent.com/15605685/64477752-e7de8200-d1d1-11e9-92ac-8d7e5c19677a.jpg)

[2019-09-07 17:02] wangxinjun56 commented on #22
and the shape  basic is ok ,but after matrix ,the shape become bad .
![5](https://user-images.githubusercontent.com/15605685/64477961-24ab7880-d1d4-11e9-837b-0529431651eb.png)

[2019-09-07 17:04] wangxinjun56 commented on #22
so ,may be the  m(matrix data) in *_param.dat have somewrong ? hope you double check,
thanks.

[2019-09-11 03:00] firelgh commented on #17
I have seen it on GitHub.Your kind assistance on this are very much appreciated.Please forgive me for disturbing your busy work.

在 2019-09-06 20:50:00，"tranluan" <notifications@github.com> 写道：

Closed #17.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-13 10:23] xingmimfl opened #24 "can someone rewrite cuda_op_kernel_v2_sz224.cu.cc using python?"
I'm not familiar with CUDA, if someone have rewritten cuda_op_kernel_v2_sz224 using python/tensorflow/, thanks a lot

[2019-09-16 10:45] ghlee0111 opened #25 "How can I test out the model on some images?"
I want to test out the model on some images and see the results (3D mesh, rendered image....)

How can I try ?

[2019-09-17 14:37] tranluan commented on #25
If you need images for comparison for a submission, (or just want to try out with a few images), please send those images to me (tranluan@msu.edu). We can't release the pretrained model at the moment.

[2019-09-17 16:18] #6 closed

[2019-09-22 19:51] zhangxuan1918 opened #26 "training configuration"
Hello,

I tried to train the model. However I got a few issues. During pre-training, after 200 epochs, the training converges and doesn't improve. The rendered image doesn't look good, especially the pose and texture. Then I switched to unsupervised training. However after 100 epochs, the image rendered is super blurred.

I'm not sure if the configuration in the code is the default setting you use

[2019-09-23 09:19] welbeckzhou commented on #25
I have trained the model by myself, could please share the test code?

[2019-09-30 03:31] Trueyellow opened #27 "Barycentric Coordinates error?"
Hi, this project is a great work with fine details.

But here is a little problem, when I tried the shade generation function, the loaded predefined **barycoord** is zero everywhere actually.
https://github.com/tranluan/Nonlinear_Face_3DMM/blob/1c0c7d388231e26460303134ad9b0f87357d010c/_3dmm_utils.py#L122-L130

Which means the shade generation function below is actually makes non-sense. The generat

[2019-10-10 07:57] Xudong7Chen opened #28 "About pretrain"
Hi, can you tell me the L1 loss of texture i can get after the pretrain step? Thks.

[2019-10-31 09:05] xingmimfl commented on #21
loss is NAN using above command

[2019-10-31 09:05] #24 closed

[2019-11-02 02:54] xingmimfl commented on #28
do you pretrain successfully? @Xudong7Chen

[2019-11-07 06:53] Edward-Lin opened #29 "About reconstruction loss"
Hey!
I have an issue about the reconstruction loss in https://github.com/tranluan/Nonlinear_Face_3DMM/blob/1c0c7d388231e26460303134ad9b0f87357d010c/model_non_linear_3DMM.py#L198
where the G_images_300W_mask.shape would be (batch_size * 224 * 224 *3) after it multiplied with input_masks_300W in https://github.com/tranluan/Nonlinear_Face_3DMM/blob/1c0c7d388231e26460303134ad9b0f87357d010c/model_non_l

[2019-11-11 09:01] ChunLLee commented on #15
I tried to train the model using the latest code while it couldn't converge too. The loss always turns to 'nan' after several batches. Is there anything I  should notice? FYI, I have tried the default parameters in your code and also tried to reduce the training rate and the momentum for Adam. @tranluan I would be appreciated if you answer my question.

[2019-11-19 12:06] xingmimfl commented on #15
@ChunLLee  I solved this problem today.  which version of your tensorflow? for me, loss is NAN when tensorflow is 1.14.0, and it gets right after i change tensorflow to 1.8.0. you can try it

[2019-11-19 12:31] ChunLLee commented on #15
Thank you very much and yes, I am currently using 1.14.0! I'll give it another shot!

[2019-11-22 10:56] xingmimfl opened #30 "Would some one share his inference code?"

[2019-11-27 14:29] MagicJackStone commented on #3
@YinghaoHuang91 Hi，do you change the resolution successfully？ Tks.

[2019-12-04 08:30] linshuheng6 opened #31 "About when using parallel computer being shut down"
Hello Trabluan,
Thank you for your great work.
When I run your code(I use python 3.6), I change the code in opts.py:
`out_split.append(fn(**{k : v[i] for k, v in in_splits.items()}))`
is replaced by:
[code]
Because I got the error when I used the original code: TypeError: 'zip' object is not subscriptable

I can run the 'main' file with only one GPU, but when I set 'flags.DEFINE_string("gpu", "0,1

[2019-12-04 09:31] linshuheng6 commented on #26
Hello, I have no idea about how to run the pre_training model. Could you please share your configuration for pre_training. Thank you !!!

[2019-12-04 09:35] linshuheng6 commented on #31
The Pretraining and Finetuning commands are lost on the page. Could someone share it to me ?

[2019-12-13 05:05] #30 closed

[2019-12-18 12:36] xingmimfl opened #32 "How to get textures and masks from original 300w_LP by myself?"
get textures and masks from original 30w_LP data,

[2019-12-19 12:27] Moon-W commented on #25
@welbeckzhou
Hello, do you know how to test code now?

[2019-12-23 02:15] linshuheng6 commented on #23
@tranluan Hello， could you please tell how to render the generated image with only face part? Or how to obtain the index of those vertices of face which doesn't include the neck and ear? The mask from Z-buffer includes neck, which is not expected. Thank you !

[2019-12-25 02:47] xiaomihefeifei opened #33 "How to test the model"
'DCGAN' object has no attribute 'test'

[2019-12-26 02:55] hungsing92 opened #34 "Can anyone reproduce the performance in paper?"

[2019-12-26 06:50] cloverzyy commented on #11
Hi, Did you find any way to obtain uv map? Could you please share the method with me? My email address is yunyezhang627@163.com. Thanks!

[2019-12-27 09:00] hungsing92 commented on #27
@tranluan Hi, I meet the same problem, can you check it ?

[2019-12-31 05:12] xingmimfl opened #35 "how to get m matrix from original raw/yaw/pitch?"
anyone knows??

[2020-01-01 12:41] huyanfei-cqupt commented on #35
hi, which one file is the Encoder(E) and the Decoder(D)? Thank you

[2020-01-01 12:53] huyanfei-cqupt commented on #7
could you release your training code now?@tranluan

[2020-01-02 06:18] xingmimfl commented on #35
In my opinion,  it has no Decoder  or Encoder in original paper, and it has nothing to do with GAN

[2020-01-02 06:31] huyanfei-cqupt commented on #35
However, the author say their code works， only some areas need optimization，and if there is no E and D, how can his frame effect be obtained? So I am also confused. Do you have a better opinion on this project? Is it convenient to communicate?

[2020-01-21 10:08] xingmimfl commented on #35
`# transform mesh
            s = pose_para[-1, 0]
            angles = pose_para[:3, 0]
            t = pose_para[3:6, 0]
            angles = np.asarray([angles[0], angles[1], angles[2]])
            matrix = mesh.transform.angle2matrix_3ddfa(angles)
            ortho_matrix = np.asarray([
                [1,0,0],
                [0,1,0]])
            t_matrix = np.asarray([[t[0]],[t[1]]])

[2020-01-21 10:08] xingmimfl commented on #35
`
            s = pose_para[-1, 0]
            angles = pose_para[:3, 0]
            t = pose_para[3:6, 0]
            angles = np.asarray([angles[0], angles[1], angles[2]])
            matrix = mesh.transform.angle2matrix_3ddfa(angles)
            ortho_matrix = np.asarray([
                [1,0,0],
                [0,1,0]])
            t_matrix = np.asarray([[t[0]],[t[1]]])

            m = orth

[2020-01-21 10:09] xingmimfl commented on #35
`
            s = pose_para[-1, 0]
            angles = pose_para[:3, 0]
            t = pose_para[3:6, 0]
            angles = np.asarray([angles[0], angles[1], angles[2]])
            matrix = mesh.transform.angle2matrix_3ddfa(angles)
            ortho_matrix = np.asarray([
                [1,0,0],
                [0,1,0]])
            t_matrix = np.asarray([[t[0]],[t[1]]])
            m = ortho

[2020-01-21 10:10] xingmimfl commented on #35
# transform mesh
            s = pose_para[-1, 0]
            angles = pose_para[:3, 0]
            t = pose_para[3:6, 0]
            angles = np.asarray([angles[0], angles[1], angles[2]])
            matrix = mesh.transform.angle2matrix_3ddfa(angles)
            ortho_matrix = np.asarray([
                [1,0,0],
                [0,1,0]])
            t_matrix = np.asarray([[t[0]],[t[1]]])

[2020-02-20 05:11] anhaichuan commented on #13
My GPU is RTX2070, and I have the same problem as you, did you solved it?

[2020-02-20 20:01] sariyanidi opened #36 "InvalidArgumentError: No OpKernel was registered to support Op 'ZbufferTriV2Sz224'"
I can't run rendering_example.py successfully, I get the following error:

Registered devices: [CPU, XLA_CPU, XLA_GPU]
Registered kernels:
  device='GPU'

I see that others came across the same issue, but a clear solution does not exist.

My system configuration is:
- Ubuntu 18.04
- tensorflow 1.13.1 (tried it because I saw it  worked for @knma in https://github.com/tranluan/Nonlinear_Face_3DMM/is

[2020-02-22 12:27] anhaichuan commented on #36
I think this code can only run in such an environment：
ubuntu 16.04
tensorflow-gpu 1.3.0
cuda 8.0,cudnn 6.0
python3.5

[2020-04-06 00:22] WinnieLaugh commented on #36
Hi,

I don't know why, but the following lines works for me, at least while running "rendering_Example.py":

`conda create -n nonlinear-3dmm python=3.6.8
conda activate nonlinear-3dmm
pip install tensorflow==1.13.1
pip install tensorflow-gpu==1.13.1`

I have tried the above lines on both of my machines, both are ubuntu 18.04 with 2080Ti, Cuda 10.0, and it seems that they work well till now.

[2020-04-14 10:57] zhangmozhe opened #37 "Pytorch reimplementation"
Hi, I really like this work. I just wonder whether you have the plan to reimplement it using Pytorch? Or release the pytorch pre-trained model?

[2020-04-15 05:28] zhuang12 commented on #36
Are you sure this code can run in python3.5 without any modifications？
If you run it successfully，would you like send me your code ? I will use it in your environment, thanks.

[2020-04-17 13:06] zhuort commented on #25
@welbeckzhou Hello, I wonder how to train with the loss L, which contains the adversarial loss?

[2020-04-20 20:45] opptimus opened #38 "Can the author give the configuration environment?"
Some people mentioned the code can only run in such an environment：
ubuntu 16.04
tensorflow-gpu 1.3.0
cuda 8.0,cudnn 6.0
python3.5
---------------
Can the author give the TRUE configuration environment?

[2020-05-16 06:05] Easonzero commented on #32
Do you already know how to extract 3dmm parameters from the original data set? Can you share your way？Thanks！

[2020-05-25 14:49] huyanfei-cqupt commented on #10
looking forward of the completed code

[2020-05-25 14:50] huyanfei-cqupt commented on #10
Any luck for the completed code? I would really appreciate any help.

[2020-05-28 09:04] huyanfei-cqupt commented on #36
I don't know what 'self.gfc_dim' means，Can you explain it to me?   thanks.

[2020-05-29 10:08] Easonzero opened #39 "albedo is a const color all the time"
RT

[2020-05-30 02:37] huyanfei-cqupt commented on #39
hi, I want to ask that the value of ‘self.gfc_dim’ set by you? Thanks.

[2020-06-02 03:52] Adriana618-Love opened #40 "TensorFlow 2.0"
Excuse me, first of all congratulate him on his work which is really interesting. The problem I have is because I want to run the code but when analyzing the ".sh" that you provide, you used TF 1.8. Is there a way to compile it with TF 2.0 ?, some modification or maybe do the compilation "manually"

[2020-06-02 08:34] huyanfei-cqupt opened #41 "NotFoundError: ./TF_newop/cuda_op_kernel_v2_sz224.so: cannot open shared object file: No such file or directory"
Hello,

I tried to train the model. However I got a few issues. @tranluan can you help me to resolve this? Thanks in advance.

[2020-06-02 09:50] huyanfei-cqupt commented on #15
Hi, I meet this problem as follow:
NotFoundError: ./TF_newop/cuda_op_kernel_v2_sz224.so
Have you encountered this problem?

[2020-06-02 11:55] huyanfei-cqupt commented on #36
hi, can you tell me that how to run this source code?

hi, can you tell me that how to run this source code? I try to use the  follow command  to run the 'main_non_linear_3DMM.py ' ,But i failed.
the error as follow:
  "NotFoundError: TF_newop/cuda_op_kenel_v2-sz224.so:cannot open shared object file:No such file or directory"
the command as follow
""python main_non_linear_3DMM.py --batch_size 128

[2020-06-02 12:04] huyanfei-cqupt commented on #35
hi,  I try to use the follow command to run this source code,but reporting errors.

- [ ]

- [ ]

hi, I try to use the follow command to run this source code,but reporting error.
the error as follow:
"NotFoundError: TF_newop/cuda_op_kenel_v2-sz224.so:cannot open shared object file:No such file or directory"
the command as follow
""python main_non_linear_3DMM.py --batch_size 128 --sample_size 128 -

[2020-06-02 12:47] huyanfei-cqupt commented on #21
hi, I try to use the author provide   command to run the main_nonlinear_3DMM.py ,but meet the follow error,  can you help me to complain this problem?  thank you very much.
NotFoundError: ./TF_newop/cuda_op_kernel_v2_sz224.so: cannot open shared object file: No such file or directory #41
the command as follow:
python main_non_linear_3DMM.py --batch_size 128 --sample_size 128 --is_train True --lear

[2020-06-03 02:26] xingmimfl commented on #35
you need compile cuda_op_kenel_v2-sz224.so firstly.
and this repo seems a little difficult to reimplement

[2020-06-03 02:34] huyanfei-cqupt commented on #35
I did not find the "cuda_op_kenel_v2-sz224.so" under the "TF_newop" folder. so I want to ask where can I find the file? I use the follow command: ./compile_op_v2_sz224.sh, but it reporting error.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"xingmimfl"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月3日(星期三) 上午10:26
收件人:&nbsp;"tranluan/Nonlinear_Face_3DMM"<Nonlinear_Face_3DMM@nor

[2020-06-03 02:44] huyanfei-cqupt commented on #35
For the encoder module, how does it estimate the parameters?&nbsp;How do you understand?&nbsp;thanks for your answer.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"xingmimfl"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月3日(星期三) 上午10:26
收件人:&nbsp;"tranluan/Nonlinear_Face_3DMM"<Nonlinear_Face_3DMM@noreply.github.com&gt;;
抄送:&nbsp;"梦之泪"<995657906@qq.com&gt;;"Comment"<comment@nor

[2020-06-03 05:04] xingmimfl commented on #35
this repo is very hard to reimplement,  and i quit it

[2020-06-03 12:45] huyanfei-cqupt commented on #40
hi，what's mean this below functions？ thanks
` def m2full(self, m):
        return m * self.std_m_tf + self.mean_m_tf

    def shape2full(self, shape):
        return shape * self.std_shape_tf + self.mean_shape_tf`

[2020-06-04 13:33] huyanfei-cqupt opened #42 "./compile_op_v2_sz224.sh: 行 15: nvcc: 未找到命令 g++: error: cuda_op_kernel_v2_sz224.cu.o: 没有那个文件或目录"
I got the above error When i was compiling.  Can anyone help me?

[2020-06-06 19:20] tranluan commented on #39
Hi, I provide the command in the main page.
I think the problem maybe  using --is_const_local_albedo True too early can be harmful. So I suggest set it to False during pretrain.

[2020-06-07 01:18] #41 closed

[2020-06-07 01:31] #42 closed

[2020-06-07 16:30] tranluan commented on #40
Please see this link
https://www.tensorflow.org/guide/create_op

[2020-06-08 02:42] #35 closed

[2020-06-08 13:39] huyanfei-cqupt commented on #15
Hi,@xingmimfl  Have you encountered this problem? How did you solve it?
"""Loading LFPW_Flip ...
    DONE. Finish loading LFPW_Flip with 16556 images
Valid images 122450/122450
 [*] Reading checkpoints...
 [*] Failed to find a checkpoint
 [!] Load failed...""""

[2020-06-09 07:17] huyanfei-cqupt commented on #15
Hi，@cddlyf  Did you train successfully with this code? Can I ask you some questions？

[2020-06-09 11:42] huyanfei-cqupt commented on #22
hi， Can I ask you some questions? @wangxinjun56

[2020-06-15 12:15] yuhaoooo opened #43 "The problem about facial editting"
Thanks to the great work of @tranluan ! I am reading the paper named "[Towards High-fidelity Nonlinear 3D Face Morphable Model](https://arxiv.org/abs/1904.04933)", and interested in the Section 4.5 `Facial Editing`.

More specifically, I want to add stickers to human faces, and the illustration in Sec 4.5 is impressive. However, the detail of this experiment in this paper is lost. So can you give

[2020-06-15 22:46] #40 closed

[2020-06-17 01:59] Adriana618-Love opened #44 "Insufficient computing power?"
Hello, I wish you a good day. The problem I have happens just when I get to the "Train" function, in the update part of G.
To be exact on line 487 in model_non_linear_3DMM.py, what happens is the following:
-The program stops on that line for a few minutes
-During that time, my entire laptop suffers a lot of delay, even the mouse takes time to respond.
-Finally the program ends and "terminated (ki

[2020-06-17 03:14] tranluan commented on #44
You can try to use batch size of 1 or 2 then gradually increase to see how much it can fit to your gpu memory.
Look likes your GPU has 2GB memory. I don't think it's enough to do meaningful training.

[2020-06-17 03:36] Adriana618-Love commented on #44
Thanks for quickly answer. Yep, mi GPU has 4GB dedicated memory.
I understand the suggestion, I will vary to see how far my laptop supports. I will shortly upload the results.

[2020-06-17 03:52] Adriana618-Love commented on #44
Muy bien, He estado variando el batch_size, asi como el sample_size. Todo iba relativamente bien con tamaños hasta que configuro:
-batch_size=20
-sample_size=20

En ese momento obtengo estos errores:
`2020-06-16 22:44:52.820004: E tensorflow/stream_executor/cuda/cuda_driver.cc:936] failed to allocate 128.00M (134217728 bytes) from device: CUDA_ERROR_OUT_OF_MEMORY
 [*] Reading checkpoints...
 [*] F

[2020-06-19 06:03] HoiM commented on #37
I am currently working on this project with PyTorch and PyTorch3D. Things are almost done except the settings of the camera so that the 8 transformation parameters can work with the rendered image. Now I hope the author could provide the parameters of the camera.

[2020-06-22 04:42] #44 closed

[2020-06-22 04:43] Adriana618-Love opened #45 "Testing the model"
Greetings, I wish you a good day. I have managed to train the network after many attempts but now I faced the challenge of testing it and apparently DCGAN does not have the test function, could you please provide this function?

[2020-06-22 13:46] pminhtam commented on #25
` def test(self, config,input_images_fn_300W,input_masks_fn_300W):

        tx = np.random.random_integers(0, 32, size=config.batch_size)
        ty = np.random.random_integers(0, 32, size=config.batch_size)
        tf.global_variables_initializer().run()

        ffeed_dict = {self.input_images_fn_300W[0] : input_images_fn_300W,self.input_offset_height: tx, self.input_offset_width: ty,\

[2020-06-22 13:49] pminhtam commented on #25
[code]

[2020-06-22 13:50] pminhtam commented on #10
[code]

This is code i use to test model

[2020-06-22 13:51] pminhtam commented on #45
[code]

This is code i use to test model

[2020-06-24 05:50] WinnieLaugh commented on #36
Sorry for the late reply.
No, I haven't encountered this error. It seems like a tensorflow installation problem. Have you checked your tensorflow installation? Maybe you could use conda and try the commands as listed.

[2020-06-24 07:10] huyanfei-cqupt commented on #45
Hi，pminhtam. How to print the loss and various renderings generated？ Can you share that code? Thank you

[2020-06-26 03:01] huyanfei-cqupt opened #46 "InvalidArgumentError (see above for traceback): No OpKernel was registered to support Op 'ZbufferTriV2Sz224' with these attrs. Registered devices: [CPU], Registered kernels: device='GPU' [[Node: ZbufferTriV2Sz224_15 = ZbufferTriV2Sz224[](transpose_16, Const_3, Squeeze_31)]]'"
@tranluan when I try to switch the L loss, but I encounter the error.

[2020-06-26 03:17] huyanfei-cqupt commented on #4
Hi, @tklinterg    Has your previous problem been solved?  I encountered the same problem as you

[2020-06-26 03:48] huyanfei-cqupt commented on #15
Hi,@BigDataHa. when   i try to switch the L loss,but I encounter the error as show below:
tensorflow.python.framework.errors_impl.InvalidArgumentError: No OpKernel was registered to support Op 'ZbufferTriV2Sz224' with these attrs.  Registered devices: [CPU], Registered kernels:
  device='GPU'
Have you encountered this problem?

[2020-06-26 10:43] huyanfei-cqupt commented on #36
Hi, Did you solve this problem?  I meet a same problem with you

[2020-06-26 11:03] huyanfei-cqupt commented on #12
Hi, Did you solve this problem?@knma

[2020-06-26 14:37] tranluan commented on #46
Are you using CPU?

[2020-06-27 02:56] huyanfei-cqupt commented on #46
@tranluan I use one GPU to run the code

[2020-06-27 04:46] huyanfei-cqupt commented on #46
I haven't changed the source code anywhere.After the pre-training, I changed the parameters directly on the command line, and then this problem occurred.
The pre-training is good, and this problem has never occurred.

[2020-06-28 08:04] #46 closed

[2020-07-03 03:08] huyanfei-cqupt opened #47 "Finetunning Manually reduce the m_loss, shape_loss weight by 10 times"
what's meaning？the loss is reduce 10 times or iterations is 10 times？

[2020-07-12 12:47] huyanfei-cqupt opened #48 "G_loss_frecon = tf.zeros(1)???"
@tranluan
Is G_loss_frecon missing?  I can't find the relevant code in this model_nonlinear_3DMM.py
can you share the code to me?
Thank you very much!

[2020-07-15 07:38] HOMGH commented on #48
Hi, You're right. It seems that perceptual loss (loss_frecon) is missing in the code. Did you find it anywhere?

[2020-07-15 07:40] HOMGH opened #49 "Missing perceptual loss (G_loss_frecon = tf.zeros(1))"
Hi,
It seems that perceptual loss has not been calculated in the code. Right? Would you please share that missing part of the code.
Thanks.

[2020-07-16 01:10] huyanfei-cqupt commented on #49
me too，I also find this pronlem.

[2020-07-16 01:13] huyanfei-cqupt commented on #48
I just found this problem. For the model_non_linear_3DMM.py file, I didn't find the corresponding place.

[2020-07-16 01:15] huyanfei-cqupt commented on #49
@HOMGH hi，Is it convenient to share your email address? It will be much more convenient for us to discuss related issues.

[2020-07-16 07:32] tranluan commented on #48
It should be similar losses defined in [model_non_linear_3DMM_proxy.py](https://github.com/tranluan/Nonlinear_Face_3DMM/blob/03b526cf6c6d72420eccd18b37619d2f5365d87f/model_non_linear_3DMM_proxy.py#L454)

You also need code and model from:
https://github.com/ZZUTK/Tensorflow-VGG-face

[2020-07-16 07:34] tranluan commented on #49
Answered in #48

[2020-07-16 07:34] #49 closed

[2020-07-16 07:37] huyanfei-cqupt commented on #48
Thank you! @tranluan i will  to try it.

[2020-07-16 18:33] HOMGH commented on #49
yes. Please send your email address, I will contact you.

[2020-07-16 18:34] HOMGH commented on #48
Thanks @tranluan .

[2020-07-18 11:13] HOMGH opened #50 "InternalError: Failed to create session."
Hi,
I'm trying to run the main_non_linear_3DMM.py and it gives me this error. "InternalError: Failed to create session."
Any advice would be highly appreciated.

[2020-07-19 05:15] #50 closed

[2020-07-19 05:15] HOMGH commented on #50
solved!

[2020-07-19 11:59] HOMGH opened #51 "About requirements"
It should be noted that for running the main file for training the model, **Tensorflow 1.8 and Python 2** are needed.

[2020-07-19 12:00] HOMGH opened #52 "Demo (Test) code"
Hi,
Would you please share your demo/testing code, so that we would be able to have a fair comparison with your results.

[2020-07-20 03:02] huyanfei-cqupt commented on #48
@HOMGH hi, Have you written the part of the code about the perceptual loss frecon? Can you share the code with me?  Thank you very much!

[2020-07-20 03:13] huyanfei-cqupt commented on #49
Sorry, @HOMGH Please forgive me for seeing your reply.  my email is "s180131232@stu.cqupt.edu.cn", my name is Huyanfei. Thank you very much!

[2020-07-20 03:15] huyanfei-cqupt commented on #52
Hi, @HOMGH  my email is "s180131232@stu.cqupt.edu.cn", my name is Huyanfei. Thank you very much!

[2020-07-20 06:45] HOMGH commented on #48
Hi,Sorry not yet.

[2020-07-20 07:00] huyanfei-cqupt commented on #48
Well, I tried to imitate the writing of proxy.py and modified it, but some errors appeared. I haven't solved it until now. If you want to see the part of the code I wrote, I can email you, and then we Let's discuss it together.

[2020-07-20 22:38] tranluan commented on #52
https://github.com/tranluan/Nonlinear_Face_3DMM/blob/master/README.md#pretrain-model

[2020-07-22 07:05] Nancyhhh commented on #12
I have the same problem with yours. Is there anyone who has saved the problem?Please send a message on this, many thanks!

[2020-07-22 10:29] HOMGH opened #53 "NameError: global name 'load_FaceAlignment_vt2pixel' is not defined"
Hi,
When I run the main code with **model_non_linear_3DMM_proxy.py** model, there is an error says **global name 'load_FaceAlignment_vt2pixel' is not defined**.
I checked, this function has not been defined in the code.
Please advise.

[2020-07-22 17:45] HOMGH commented on #10
Hi,
Would you please give some details about your system config? I have problem with running render_example.py code. I'm on ubuntu18, python2.7 and tensorflow 1.18.

[2020-07-23 06:49] HOMGH commented on #51
Hi @tranluan
Would you please clarify about the environment and configuration in which your code can be run? I searched through the issues section in your 3D nonlinear repository and it seems others have the same issue. I have a problem with warp_texture function and specifically ZBuffer_Rendering_CUDA_op_v2_sz224. I compiled _op_v2_sz224.sh but I couldn't run the "rendering_example.py". My system

[2020-07-23 12:14] HOMGH commented on #21
Hi @KalraA
I just saw your comments here. It seems that you could train their model. As I have some issues with the rendering module, would you please give me the details of your environment you used for training this code? I'm using ubuntu 18, python 2.7 and tensorflow 1.8 and I'm facing errors when I run the main code. The error I get when I run the rendering_example.py is  as follows:
The error

[2020-07-23 12:27] HOMGH commented on #12
Hi @knma
Could you run the main code with this configuration? (ubuntu 18 , CUDA 10 and tensrflow 1.13?)

[2020-07-23 13:46] HOMGH opened #54 "Error in running rendering_example.py : undefined symbol: _ZN10tensorflow12OpDefBuilder5InputESs"
When I try to run the **rendering_example.py** code, I get the following error:

undefined symbol: _ZN10tensorflow14kernel_factory17OpKernelRegistrar12InitInternalEPKNS_9KernelDefEN4absl11string_viewESt10unique_ptrINS0_15OpKernelFactoryESt14default_deleteIS8_EE

Is there anything wrong with compiling the **./compile_op_v2_sz224.sh**???
Any advice is appreciated!

[2020-07-24 02:01] Nancyhhh commented on #42
hi, could you tell me how you solved this problem? thank you very much !

[2020-07-24 02:06] Nancyhhh commented on #41
I have the same problem with you , if you have solved it , please share with me, it  is so nice of you,have a nice day !

[2020-07-27 01:47] invisprints commented on #37
@HoiM Hello, any progress？

[2020-07-27 11:53] huyanfei-cqupt commented on #41
Hi,
I added the environment variables of gcc again, and it succeeded after restarting the computer.

[2020-07-28 07:18] Dooonut commented on #54
I have the same problem, and I solve it as follows:
1.Open the file /TF_newop/compile_op_v2_sz224.sh
2.Notice the first line "for Anaconda user, please use -D_GLIBCXX_USE_CXX11_ABI=1 (instead of -D_GLIBCXX_USE_CXX11_ABI=0)"
3.Modify it in line 8 and it works
ps: I use tf v1.14 and anaconda.

[2020-07-28 07:28] HOMGH commented on #54
Thanks @Dooonut . yeah, that's right! Could you train their system? I'm about to train it. but I have heard that it couldn't converge at all.

[2020-07-28 07:59] Dooonut commented on #54
I'm still trying. I'll let you know if I have any progress.

[2020-07-28 08:00] HOMGH commented on #54
Thanks!

[2020-07-28 13:47] HOMGH opened #55 "Training config. (Training set size?)"
@tranluan
Hi,
As your main code indicates:

flags.DEFINE_integer(**"train_size", 5000000**, "The size of train images [np.inf]")
flags.DEFINE_integer("epoch", 1000, "Epoch to train [25]")

the training size is 5000000. But in your paper you mentioned that you are using 300W_LP dataset with 122,450 images. I trained your model with 1000 images as training images and 40 epochs. But the results are n

[2020-07-28 13:51] HOMGH commented on #26
Hi @zhangxuan1918
I'm trained the model. but the results (rendered images and textures) are not reasonable. I used just 1000 images and 40 epochs for training. Could you train the model correctly?

[2020-07-28 14:03] HOMGH commented on #15
Hi all.
Could anyone train the code using uploaded training code? Does it converge?

[2020-07-29 14:31] HOMGH opened #56 "After training your model, the Rendered Image has no texture on it!"
Hi @tranluan
I could train your model by running **model_non_linear_3DMM.py** file. The rendered output has the correct shape and projection matrix, but it doesn't have any texture on it.  The rendered output is same as follows:

![rendered_image_05_0012](https://user-images.githubusercontent.com/65192528/88813070-51120f80-d16d-11ea-8dcf-7685146ca68c.jpg)
![rendered_image_01_0011](https://user-ima

[2020-07-29 17:57] yuellong opened #57 "Pretrained model"
Does anyone successfully run the pretrained model? I was receiving  unreasonable outputs.

FYI, I am using ubuntu 16.04 with python2.7.18 and tensorflow 1.13.1.

[2020-07-31 13:31] HoiM commented on #37
Got no reply from the author...

[2020-08-01 11:55] xingmimfl commented on #57
seems input is 224x224, and the ouput is not  very good

[2020-08-08 14:55] HOMGH commented on #22
Hi, I'm getting a (batch_size, 3*number of vertex) matrix as the estimated shape. Could you please clarify how can I use this to display the shape using meshlab? Do I need anything else other than this matrix?

[2020-08-10 16:02] ibrahimqreet commented on #4
Thank you .. I would like to ask you..I want to run the code on the Google Collab cloud platform..Can you tell me about the steps of this process ... And can you also tell me, about the general status, how I was able to compile the CUDA code..Please respond to me

[2020-08-10 16:09] ibrahimqreet commented on #57
@yuellong Thank you can you help me turn it on? I am trying to run it on Google Collab? Please can you please guide me with the required steps

[2020-08-10 17:14] ibrahimqreet commented on #15
@HOMGH I can't ,I need to help to do that work

[2020-08-12 06:53] HOMGH opened #58 "How to get 3D mesh from your model's output?"
Hi @tranluan
Thanks for your great work. The outputs of the model are shape (N*3) and textures (224*224*3) and etc. But how can we convert these to a 3D mesh? For this we need triangle indices. How can we get this?
Appreciate your help.

[2020-08-12 16:25] danperazzo commented on #52
Hi @tranluan , thanks for sharing the pre-trained!. What are the configurations for the environment to run the demo?

[2020-08-12 18:09] danperazzo commented on #58
Hello, did you manage to create? I have been meaning to do the same thing

[2020-08-12 18:13] HOMGH commented on #58
No I couldn't get the correct 3D mesh. This is what I got:
![Capture](https://user-images.githubusercontent.com/65192528/90051609-c95bf300-dc8c-11ea-92a0-666a721486a0.PNG)

[2020-08-12 18:15] danperazzo commented on #58
Did you use the generated txt to create the model? And there is no texture?

[2020-08-12 18:19] HOMGH commented on #58
For now, I just want to display the shape. with no texture.

[2020-08-12 18:42] danperazzo commented on #58
And how did you create this mesh?

[2020-08-12 20:21] tranluan commented on #52
I use python 2.7, TF v1.8.
You should be able to run the pretrain model as long as you can compile the rendering layer and run example as in the README in frontpage.

[2020-08-13 09:18] danperazzo commented on #52
Thanks I manged to run it :)

[2020-08-13 16:45] HOMGH commented on #58
I used   write_obj_with_colors(('./test' '.obj'), vertices_in, tri_in, colors_in) #save 3d face(can open with meshlab).
vertices is the generated shape vertices. But I'm not sure about triangle. I used  load_3DMM_tri_reduce()  function, but it seems something is wrong! Any idea?

[2020-08-13 16:57] danperazzo commented on #58
Is this function available on this git repository, I did not find it in here. Is it from another repository? And I have no idea how to estimate the triangles.

[2020-08-19 06:33] chaoshiedwin commented on #1
Hi, @tranluan, I only modified ZbufferTriKernel<<<1, 1>>>(s2d, tri,...) to ZbufferTriKernel<<<32, 256>>>(s2d, tri,...) and the result of rendering_example.py seems correct, was this issue fixed?

[2020-08-20 06:47] tranluan commented on #1
It's only correct if you get an identical result with ZbufferTriKernel<<<1, 1>>>(s2d, tri,...)
It's very likely that there will be a few pixels that are different.

[2020-08-24 06:39] chaoshiedwin commented on #56
I believe it is because 3DMM_tri_2d_barycoord.dat file is not correct, check out this issue: https://github.com/tranluan/Nonlinear_Face_3DMM/issues/27

[2020-08-25 05:38] chaoshiedwin commented on #1
Yes, it is not thread safe, but I think its ok for training, because neural network is robust to noises. And I modified your shading function, the training speed has increase from 6s/step to 0.5s/step

[2020-08-25 21:37] tranluan commented on #1
It's great to know. Please commit your shading function if possible.
Thanks, Luan

[2020-08-26 09:13] invisprints commented on #37
@HoiM I am confused about the parameters of the camera you said. are they different from camera projection parameters？In the paper, it said "the camera projection parameters estimated by the encoder"

[2020-08-28 07:08] chaoshiedwin opened #59 "Rendering Layer Not Differentiable. Cannot train with wild images."
Hi @tranluan Thank you for your work. I am trying to fine-tune my model with wild images.  But in your code, the z-buffer kernel is marked as NotDifferentiable, which means the reconstruction loss cannot be back propagated to the network. Hence wild images cannot be used for network training.  This is inconsistent with what is claimed in the paper. Can you provide the gradient definition?

[2020-08-28 07:41] chaoshiedwin commented on #37
Hi, did you find that the z-buffer kernel is not differentiable in the code? How can you resovle this problem with pytorch?

[2020-08-28 07:49] chaoshiedwin commented on #59
Sorry, I didn't understand it correctly. The z-buffer does not need to be differentiable, z-buffer output is used to calculate the sampling position from texture map.

[2020-08-28 07:49] #59 closed, assigned to nobody

[2020-08-28 08:02] cassiePython commented on #56
Have you successfully corrected this issue? @chaoshiedwin @HOMGH

[2020-08-28 10:26] cassiePython commented on #58
The author adopted the Basel Face Model (BFM) facial mesh triangle topology as stated in his paper. @HOMGH

[2020-08-28 13:15] HOMGH commented on #58
the problem is that I'm getting always the same 3D mesh for each input (the below 3D mesh). It seems I'm getting the mean shape!
![image](https://user-images.githubusercontent.com/65192528/91564690-d8ca7580-e8f5-11ea-874c-7e6cf7d6908e.png)

[2020-08-28 13:26] HOMGH commented on #56
Yes, I just run the ....proxy.py file and it works. But still does not converge! (but at least results in something!)

[2020-08-30 18:01] HOMGH commented on #52
Hi @danperazzo ,Could you get the same results as what they report on the paper?

[2020-08-31 06:04] cassiePython commented on #57
I run the pre-trained model but get unreasonable outputs. The shape can not be visualized with 3DMesh

[2020-08-31 06:50] ibrahimqreet commented on #57
Can you tell me how you were able to run the pre-trained model, and what steps you took, please @cassiePython

[2020-09-08 06:55] chaoshiedwin commented on #56
use 3DMM_tri_2d_barycoord_reduce.dat instead of 3DMM_tri_2d_barycoord.dat works for me.

[2020-09-08 07:18] HOMGH commented on #56
Hi @chaoshiedwin , I actually gave up with that code and tried to run the **model_non_linear_3DMM_proxy.py**. It is on 11th epoch on 124k images but I think the results are not good . (attached images). Could you train the model?
![image](https://user-images.githubusercontent.com/65192528/92445122-babc0b00-f168-11ea-8684-fb3ec9311822.png)
![image](https://user-images.githubusercontent.com/65192528

[2020-09-09 17:06] HOMGH commented on #59
@chaoshiedwin  Hi, Could you train the model successfully?  I trained the model on the 1/4 of training set and it seems it doesn't converge!

[2020-09-09 17:08] HOMGH commented on #57
Same issue! The reconstructed texture (rendered image) is not correct as well!

[2020-09-16 13:15] HoiM commented on #37
@invisprints Maybe I was confused. The camera model used in the paper is weak perspective projection camera model. Based on my understanding, the 8 parameters can directly convert a 3D point to a plane. While in my implementation, I used the perspective projection camera model, where field of view, location of the camera in the world system, and the focal length must be set. Maybe the 8 parameters

[2020-09-16 13:17] HoiM commented on #37
@chaoshiedwin I switched to another work and successfully implemented the rendering process. Here the camera model is weak perspective model. But I used ```OpenGLPerspectiveCamera``` in PyTorch3D, where Z-buffer is not needed to be coded by hand.

Moreover, based on my understanding, z-buffer is more of like a mask where back-propagation is not needed.

[2020-10-26 02:37] huyanfei-cqupt commented on #58
Hi,@HOMGH Can you share the code for outputting 3D face mesh? thank you very much!

[2020-10-26 03:45] huyanfei-cqupt commented on #56
Hi，@chaoshiedwin Did you get through this code?  Has the L0 loss converged in the pre-training phase?

[2020-11-14 09:07] huyanfei-cqupt commented on #58
Hi, @HOMGH Can you share the code for outputing 3D face mesh? thank you very much!

[2020-11-14 12:04] HOMGH commented on #58
The part of the code which is used to generate 3D mesh is :
write_obj_with_colors(('./test' '.obj'), vertices_in, trian.T, colors_in) #save 3d face(can open with meshlab)
in which the inputs are as follows:
trian= load_3DMM_tri_reduce() or  load_3DMM_tri()
colors_in = np.ones((VERTEX_NUM_REDUCE,3))  (if you just want to display textureless 3D mesh)
vertices_in = np.reshape(verti,(VERTEX_NUM_REDUCE

[2020-11-15 03:01] huyanfei-cqupt commented on #58
Hi, @HOMGH Thank you so much for replying to me so quickly,

[2020-11-15 03:37] huyanfei-cqupt commented on #58
![image](https://user-images.githubusercontent.com/55791464/99162229-6324b780-2736-11eb-939c-1493a9e6d256.png)
Hi, I want to ask what does "trian.T" in the red box mean above image?

[2020-11-15 04:00] huyanfei-cqupt commented on #58
Is it convenient to contact you by email? My email address is "995657906@qq.com". Looking forward to your reply.

[2020-11-15 07:51] huyanfei-cqupt commented on #59
hi,@chaoshiedwin Could you train the model successfully?

[2020-11-15 08:28] huyanfei-cqupt commented on #56
Hi,@chaoshiedwin, can you run the model_non_linear_3DMM.py successfully?  the G_loss_frecon how to write it？ any advices would be highly appreciated.

[2020-11-17 03:35] huyanfei-cqupt commented on #48
Hi,@HOMGH  Have you solved the perceptual loss function code in this model_nonlinear_3DMM.py？

[2020-11-28 14:21] huyanfei-cqupt opened #60 "Does G_loss_frecon need to modify it when using VGG-Face?"
Hi，@tranluan When using VGG-Face network, do I need to modify the size of the image? If yes, modify the input image or the size of the input image?

[2020-11-30 01:48] huyanfei-cqupt commented on #58
Hi，@HOMGH can you share code of  the G_loss_frecon for me ? Thank you.

[2020-11-30 01:53] huyanfei-cqupt opened #61 "Has anyone solved the code in the model_non_linear_3DMM file for solving the perceptual loss G_loss_frecon?"
I tried to write, but an error was reported when running. Can you share it with me, thank you
@tranluan

[2020-11-30 09:10] huyanfei-cqupt commented on #57
Hi，@HOMGH  Can you tell me how to write the G_loss_frecon code? Thank you

[2020-11-30 09:28] HOMGH commented on #57
Hi, this is the part of the code which compute G_loss_frecon:

            if self.is_using_frecon:
                print('is calculating frecon.....')
                from vgg_face import vgg_face

                #G_images_300W_vgg = (tf.multiply(G_images_300W, G_images_300W_mask)+ 1.0)*127.5
                G_images_mix_s1a0_300W_vgg = (G_images_mix_s1a0_300W + 1.0)*127.5
                G_imag

[2020-11-30 09:33] huyanfei-cqupt commented on #57
@HOMGH Thank you very much!
I have another question. Do I need to modify the variables G_images_mix_s1a0_300W_vgg and G_images_mix_s0a1_300W_vgg in this code?

[2020-11-30 09:33] huyanfei-cqupt commented on #57
@HOMGH Thank you very much!
I have another question. Do I need to modify the variables G_images_mix_s1a0_300W_vgg and G_images_mix_s0a1_300W_vgg in this code?
I once tried to imitate the model_non_linear_proxy.py file to write the G_loss_frecon code, but when I ran it, the system reported an error.

[2020-11-30 09:38] HOMGH commented on #57
No, I don't think so. Actually I didn't get good results after training for 40 epochs which took me around 20 days! So I'm not sure whether this code works or not!

[2020-11-30 09:47] huyanfei-cqupt commented on #57
Hi, I would like to ask if the file you are running is model_non_linear.py or model_non_linear_proxy.py?
I am now going to try to run the model_non_linear.py file,so I want to ask whether other variables in the file proxy.py need to be modified or discarded. The following is the code I wrote:
`G_loss_frecon = tf.zeros(1)
            if self.is_using_frecon:
                from vgg_face import vgg

[2020-11-30 10:03] HOMGH commented on #57
I ran model_non_linear_proxy.py!

[2020-11-30 11:41] huyanfei-cqupt commented on #57
Have you not tried to run the model_non_linear.py file before?

[2021-01-19 10:23] cyjouc commented on #4
Hi,./compile_op_v2_sz224.shm occur the error
host_defines.h is an internal header file and must not be used directly.  This file will be removed

[2021-01-20 01:21] cyjouc commented on #35
I compile cuda_op_kenel_v2-sz224.so firstly."host_defines.h is an internal header file and must not be used directly. The error happen" This file will be removed in a future CUDA release.  Please use cuda_runtime_api.h or cuda_runtime.h instead." [-Wcpp]"? Do you occur to the error?

[2021-01-20 09:08] cyjouc commented on #51
Blas xGEMMBatched launch failed : a.shape=[16,4,3], b.shape=[16,53215,4], m=3, n=53215, k=4, batch_size=16
[[Node: MatMul = BatchMatMul[T=DT_FLOAT, adj_x=true, adj_y=true, _device="/job:localhost/replica:0/task:0/device:GPU:0"](concat, concat_1)]]
[[Node: Reshape_43/_147 = _Recv[client_terminated=false, recv_device="/job:localhost/replica:0/task::0/device:CPU:0", send_device="/job:localhost/replic

[2021-01-20 09:08] cyjouc commented on #51
tensorflow/stream_executor/cuda/cuda_blas.cc:654] failed to run cuBLAS routine cublasSgemmBatched: CUBLAS_STATUS_EXECUTION_FAILED
tensorflow/stream_executor/cuda/cuda_blas.cc:2413] Internal: failed BLAS call, see log for details

[2021-01-20 09:09] cyjouc commented on #51
Hi, how do you solve the problem?

[2021-01-20 09:13] cyjouc commented on #45
Hi,pminhtam,Do you successfully compile the render_example.py?

[2021-01-20 09:15] cyjouc commented on #38
python2.7

[2021-01-20 09:28] cyjouc commented on #10
I'm on ubuntu16, python2.7 and tensorflow 1.8. the same problem.Could you share experience with me?

[2021-01-20 11:01] cyjouc commented on #44
Hi，Do you solve the problem?would you share with me?

[2021-01-21 10:15] cyjouc commented on #21
Hi,I occur to the error:

NameError: global name '_300W_LP_DIR' is not defined

[2021-01-25 01:29] cyjouc commented on #21
I run rendering_example.py also occur to the error:
InternalError: Blas xGEMMBatched launch failed : a.shape=[16,4,3], b.shape=[16,53215,4], m=3, n=53215, k=4, batch_size=16
[[Node: MatMul = BatchMatMul[T=DT_FLOAT, adj_x=true, adj_y=true, _device="/job:localhost/replica:0/task:0/device:GPU:0"](concat, concat_1)]]
[[Node: Reshape_43/_147 = _Recvclient_terminated=false, recv_device="/job:localhost/r

[2021-01-25 01:43] cyjouc opened #62 "Complie the render layer the error"
Hi, i meet some problems when compiling the rendering layer.
InternalError (see above for traceback): Blas xGEMMBatched launch failed : a.shape=[16,4,3], b.shape=[16,53215,4], m=3, n=53215, k=4, batch_size=16 [[Node: MatMul = BatchMatMul[T=DT_FLOAT, adj_x=true, adj_y=true, _device="/job:localhost/replica:0/task:0/device:GPU:0"](concat, concat_1)]] [[Node: Reshape_43/_147 = _Recv[client_terminated=

[2021-02-05 08:07] wind-chenchen opened #63 "The file ‘good_images.dat’ was not found"
When using GAN for training, I did not find 'good_image.dat', Could you please add this file  @tranluan
[code]

[2021-03-03 09:27] zaverichintan5 commented on #62
Facing the same issue, did you find any solution ?

[2021-03-19 20:17] CharlesNord opened #64 "About the l2,1 loss"
In your CVPR 18's paper, you report your Texture representation power in l1 reconstruction loss, why in your CVPR'19's paper, you change it into l2,1 loss? And, what's the equation to calculate the l2,1 loss?

[2021-09-28 03:30] mshmoon opened #65 "What is the version of tf?"

[2021-10-28 04:58] XuZhengzhuo commented on #58
What is the `vertices_in`? Do you mean the output 'pred_shape.txt' ? Many thanks.

[2021-12-11 01:55] quangtn266 opened #66 "Generate 3DMM parameters."
Hi authors,

Thank you for your work. I have one question about parameters generation ?

Can you share me a guideline to generate a set of parameters with a collection of wild images. I already a pipeline of BFM, but it's difficult to follow.

Thanks :D

[2022-06-29 06:43] #43 closed

[2022-07-06 13:22] wwdok commented on #30
I also want to run a quick demo to see if this is what i need, but it seems there is no guide ?

[2022-07-13 15:30] LY-Donkey-Burger commented on #15
Hi，how should I judge the pretrained model is convergent?

[2022-07-13 15:30] huyanfei-cqupt commented on #15
您的来信来信已收到，谢谢。

[2022-07-14 04:58] LY-Donkey-Burger commented on #48
Hi,did you solve the loss function code?

[2022-07-30 03:07] anewusername77 commented on #42
请问你怎么解决的这个问题？加什么版本gcc的环境变量？

[2022-07-30 03:08] huyanfei-cqupt commented on #42
您的来信来信已收到，谢谢。

[2022-08-10 15:07] Joel18241096 commented on #62
The same... Has anyone solved this problem and shared the version of his tf, cuda, gcc? thx :)

[2022-09-09 08:16] anewusername77 commented on #52
hi, do you know why I input a single image and it turns to be cropped randomly?

[2022-09-09 08:16] huyanfei-cqupt commented on #52
您的来信来信已收到，谢谢。

[2022-09-13 06:18] anewusername77 commented on #32
same question!

[2022-09-15 07:01] Wangpeidi commented on #36
hello, Did you solve this problem now?

[2022-09-15 08:18] anewusername77 commented on #52
Hi,
thanks for sharing the pre-trained model. I tried it but got a quiet bad result on AFLW2000, the reconstructed shape was far from the original image(for example, face of an input image dosen't open his mouth but the output of Nonlinear 3DMM opens)